.bienvenida {
    color: black;
    font-size: 2.25em;
    margin: 4px;
    text-align: center;
}

.map-container {
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-window {
    background-color: white;
    padding: 0rem 0 0rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .infow-btn {
    width: 60%;
    height: 30px;
    margin-top: 4px;
    border-radius: 2px;
    background: #fff;
    color: #242424;
    font-size: 1em;
    align-self: center;
    }
    .infow-label {
    display: inline-block;
    font-size: 1.25em;
    margin-bottom: 0px;
    color: black;
    }

.info-container {
  margin: 20px auto;
  background-color: white;
  padding: 0rem 0 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #242424;
  border-radius: 20px;
  }
  .info-btn {
    width: 10%;
    height: 30px;
    margin-top: 20px;
    border-radius: 2px;
    background: #fff;
    color: #242424;
    font-size: 1em;
    align-self: center;
    }
    .info-btn:hover {
      cursor: pointer;
      background: rgb(165, 125, 65) 100%;
      transition: all 0.4s ease-out;
    }
  .info-label {
    font-size: 1.25em;
    margin-bottom: 0px;
    color: black;
    }
